<div id="contact" class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h4>Contact Me Today</h4>
          <div class="line-dec"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <address>
          <strong>Simon Green</strong><br>
          First National Marlborough<br>
          62 Market Street, Blenheim<br>
          {{ site.phone }}<br>
          {{ site.mobile }}<br>
          {{ site.email }}
        </address>
        <img src="{{ "assets/images/firstnat.png" | relative_url }}" alt="First National Marlborough" width="250">
      </div>
      <div class="col-md-6">
        <div class="row">
          <form action="https://formspree.io/xbyjoqrm" id="contact" method="POST">
            <input type="text" name="_gotcha" style="display: none">

            <div class="col-md-6">
              <fieldset>
                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset>
                <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <button type="submit" id="form-submit" class="btn">Send Message</button>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
