<section id="listings">
  <div class="row">

    <div class="col-md-12 col-sm-12">
      <div id="listings-carousel" class="owl-carousel owl-theme">

            {%- if site.data.listings -%}
              {%- for listing in site.data.listings -%}
                  <div class="item">
                    <div class="listing-item">
                      <a href="http://marlboroughrealestate.co.nz{{ listing.link }}"><img src="{{ listing.image }}" class="img-responsive"></a>
                    </div>
                    <div class="listing-text">
                      <h5><a href="http://marlboroughrealestate.co.nz{{ listing.link }}">{{ listing.address }}</a></h5>
                      <p>{{ listing.bed }} | {{ listing.bath }} | {{ listing.car }} | {{ listing.land }}</p>
                      <p>{{ listing.price }}</p>
                    </div>
                  </div>

              {%- endfor -%}
            {%- endif -%}

      </div>
    </div>

  </div>
</section>
