<a href="http://marlboroughrealestate.co.nz/buy-residential-real-estate/house-18-colemans-road-springlands-nz-11918103550" class="lazy" style='display: none; background-image: url("https://d15bpdo5z2ljet.cloudfront.net/platformnz/400x300-cp/c1abd9ef-1a8f-49be-a49b-fe27033f9390.jpg");'> </a>
<h2><a href="http://marlboroughrealestate.co.nz/buy-residential-real-estate/house-18-colemans-road-springlands-nz-11918103550">18 Colemans Road, <span>Springlands</span> NZ</a></h2>
<li class="bed">
<strong>4</strong> <span>Bed</span>
</li>
<li class="bath">
<strong>3</strong> <span>Bath</span>
</li>
<li class="car">
<strong>2</strong> <span>Car</span>
</li>
<li class="land">
<strong>605 sqm</strong> <span>Land Area</span>
</li>
<p class="price"><strong>Price:</strong> Enquiry From $617,000</p>
<a href="http://marlboroughrealestate.co.nz/buy-residential-real-estate/house-7-mccallum-street-springlands-nz-11918103551" class="lazy" style='display: none; background-image: url("https://d15bpdo5z2ljet.cloudfront.net/platformnz/400x300-cp/710878b7-12e6-4bf1-a348-d1d6f6bfcec4.jpg");'> </a>
<h2><a href="http://marlboroughrealestate.co.nz/buy-residential-real-estate/house-7-mccallum-street-springlands-nz-11918103551">7 McCallum Street, <span>Springlands</span> NZ</a></h2>
<li class="bed">
<strong>3</strong> <span>Bed</span>
</li>
<li class="bath">
<strong>1</strong> <span>Bath</span>
</li>
<li class="car">
<strong>1</strong> <span>Car</span>
</li>
<li class="land">
<strong>701 sqm</strong> <span>Land Area</span>
</li>
<p class="price"><strong>Price:</strong> By Negotiation </p>
<a href="http://marlboroughrealestate.co.nz/buy-residential-real-estate/house-140-charles-street-blenheim-nz-11918103538" class="lazy" style='display: none; background-image: url("https://d15bpdo5z2ljet.cloudfront.net/platformnz/400x300-cp/0b444405-2d2b-49e3-8d56-7e3852b28cd4.jpg");'> </a>
<h2><a href="http://marlboroughrealestate.co.nz/buy-residential-real-estate/house-140-charles-street-blenheim-nz-11918103538">140 Charles Street, <span>Blenheim</span> NZ</a></h2>
<li class="bed">
<strong>4</strong> <span>Bed</span>
</li>
<li class="bath">
<strong>2</strong> <span>Bath</span>
</li>
<li class="car">
<strong>2</strong> <span>Car</span>
</li>
<li class="land">
<strong>771 sqm</strong> <span>Land Area</span>
</li>
<p class="price"><strong>Price:</strong> Enquiry From $527,000</p>
