<script src="{{ "assets/js/jquery.js" | relative_url }}"></script>
<script src="{{ "assets/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/jquery.sticky.js" | relative_url }}"></script>
<script src="{{ "assets/js/jquery.stellar.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/wow.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/smoothscroll.js" | relative_url }}"></script>
<script src="{{ "assets/js/owl.carousel.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/custom.js" | relative_url }}"></script>
