<section class="cd-hero">
    <ul class="cd-hero-slider autoplay">
    <!--
        <ul class="cd-hero-slider autoplay"> for slider auto play
        <ul class="cd-hero-slider"> for disabled auto play
    -->
        <li class="selected first-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span>I work with you to get the best price for your home</span>
                    <h2>Are you thinking of selling?</h2>
                    <p>I am a local real estate agent with honesty and integrity. I work hard to get the best price for your home. Call me today if you are thinking of selling.</p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="contact">Contact me</a>
                    </div>
                </div>
            </div> <!-- .cd-full-width -->
        </li>

        <li class="second-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span>Local knowledge, local experience</span>
                    <h2>Your local agent</h2>
                    <p>A Marlburian from day one, attending Renwick Primary then Marlborough Boys College, I have the local connections and relationships to ensure your property receives the attention and offers that it deserves.</p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="about">About me</a>
                    </div>
                </div>
            </div> <!-- .cd-full-width -->
        </li>

        <li class="third-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span>Utilise my wide variety of skills</span>
                    <h2>Determined and Motivated</h2>
                    <p>My wide array of management skills and personal relationships are well utilised by past vendors. Whether marketing your property or diving in to the property ladder for the first time, I will work with you for the best result.</p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="contact">Contact me</a>
                    </div>
                </div>
            </div> <!-- .cd-full-width -->
        </li>
    </ul> <!-- .cd-hero-slider -->

    <div class="cd-slider-nav">
        <nav>
            <span class="cd-marker item-1"></span>

            <ul>
                <li class="selected"><a href="#0"></a></li>
                <li><a href="#0"></a></li>
                <li><a href="#0"></a></li>
            </ul>
        </nav>
    </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->
