<div id="portfolio" class="page-section">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Recently Sold</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="projects-holder-3">
                <div class="filter-categories">
                    <ul class="project-filter">
                        <li class="filter" data-filter="all"><span>All</span></li>
                        <!--<li class="filter" data-filter="witherlea"><span>Witherlea</span></li>
                        <li class="filter" data-filter="springlands"><span>Springlands</span></li>-->
                        <li class="filter" data-filter="central"><span>Central Blenheim</span></li>
                        <li class="filter" data-filter="renwick"><span>Renwick</span></li>
                    </ul>
                </div>
                <div class="projects-holder">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 project-item mix central">
                          <div class="thumb">
                              <div class="image">
                                <img src="{{ "assets/images/sold/75-stephenson-sold-thumb.jpg" | relative_url }}">
                              </div>
                              <div class="hover-effect">
                                <a href="{{ "assets/images/sold/large/75-stephenson-sold-thumb.jpg" | relative_url }}" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 project-item mix renwick">
                          <div class="thumb">
                              <div class="image">
                                <img src="{{ "assets/images/sold/5-gee-sold-thumb.jpg" | relative_url }}">
                              </div>
                              <div class="hover-effect">
                                <a href="{{ "assets/images/sold/large/5-gee-sold-large.jpg" | relative_url }}" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 project-item mix renwick">
                          <div class="thumb">
                              <div class="image">
                                <img src="{{ "assets/images/sold/65a-kowhai-sold-thumb.jpg" | relative_url }}">
                              </div>
                              <div class="hover-effect">
                                <a href="{{ "assets/images/sold/large/65a-kowhai-sold-large.jpg" | relative_url }}" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 project-item mix central">
                          <div class="thumb">
                              <div class="image">
                                <img src="{{ "assets/images/sold/24-shirtliff-sold-thumb.jpg" | relative_url }}">
                              </div>
                              <div class="hover-effect">
                                <a href="{{ "assets/images/sold/large/24-shirtliff-sold-large.jpg" | relative_url }}" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 project-item mix renwick">
                          <div class="thumb">
                              <div class="image">
                                <img src="{{ "assets/images/sold/2-nicholson-sold-thumb.jpg" | relative_url }}">
                              </div>
                              <div class="hover-effect">
                                <a href="{{ "assets/images/sold/large/2-nicholson-sold-large.jpg" | relative_url }}" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                              </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
